extends layout

block content
  h1(class='section-title')= title

  div(class='product-grid')
    each item in item_list
      div(class='product')
        a(href=item.url) 
          p(id=item.format)
          img(class='product-image' src=item.image)
          p(class='product-title') #{item.title}
          p(class='product-artist') #{item.artist.name}
          p(class='product-price') #{item.priceFormatted}
    else
      div
        p No items found!